/*
 Theme Name:   Twenty Nineteen Child
 Description:  Twenty Nineteen Child Theme
 Author:       Kevyn Rocha
 Template:     twentynineteen
 Version:      1.0.0
 Text Domain:  twentynineteenchild
*/

/* General */

@import url("https://fonts.googleapis.com/css?family=Pacifico|Roboto:400,500,700&display=swap");

body {
    background: #fdfd;
}

.site-main {
    min-height: 100vh;
}

body,
h1,
h2,
h4,
h5 {
    font-family: Roboto;
}

a:hover {
    text-decoration: none;
}

h1:not(.site-title):before,
h2:before {
    display: none;
}

.comments-area .comments-title-wrap .comments-title:before {
    display: none;
}
:root {
    --color-primary: #ff5c3e;
    --color-secondary: #041f2b;
    --color-hover: #d1472e;
}

/* Header */

#site-header {
    background-color: var(--color-secondary);
}

#site-header img {
    max-width: 175px;
}

#site-header a {
    color: #fff;
    outline: none;
}

#site-header a:hover {
    color: var(--color-primary);
}

#site-header .menu-item {
    margin-right: 20px;
}

#site-header .current-menu-item a {
    color: var(--color-primary);
}

.navbar-toggler-icon {
    width: 1em;
    height: 1em;
}

/* SlickSlider */

.slick-prev:before,
.slick-next:before {
    color: var(--color-primary);
}

/*---------- Home ----------*/
/* Banner */

.home-pets .home-banner {
    height: 100vh;
    background-size: cover !important;
    background-position: center !important;
    display: flex;
    align-items: center;
    color: #fff;
    margin-top: -78.13px;
}

.home-pets .home-banner h3 {
    font-size: 45px;
    margin-bottom: 30px;
}

.home-pets .home-banner h4 {
    font-size: 25px;
}

/* Container Pet */

.container-pet {
    padding: 50px 0;
}

.container-pet h3 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
    font-family: Pacifico;
    font-size: 60px;
}

/* Box Pet */

.box-pet {
    background: #fff;
    border-radius: 5px 5px 50px 50px;
    overflow: hidden;
    height: 100%;
}

.box-pet:hover h4 {
    color: var(--color-hover);
}

.box-pet:hover img {
    transform: scale(1.2);
    transition: 1s;
}

.box-pet-body {
    overflow: hidden;
}

.box-pet img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.box-pet-footer {
    padding: 20px;
    text-align: center;
}

.box-pet-footer h4 {
    color: var(--color-primary);
    font-size: 25px;
}

/*---------- Single ----------*/

.single-pet,
.archive-pet {
    padding: 50px 0;
}

.single-pet .pet-content img {
    height: 350px;
    border-radius: 10px;
}

.single-pet .pet-text {
    margin: 30px 0;
}

.single-pet .pet-comments input,
.single-pet .pet-comments textarea {
    border-radius: 8px;
}

.single-pet .pet-comments input[type="submit"] {
    background-color: var(--color-primary);
}

.single-pet .pet-comments input[type="submit"]:hover {
    background-color: var(--color-hover);
    transition: 0.6s;
}

/*---------- Page Search ----------*/

.pagination .nav-links {
    margin: 0 auto;
}

/*---------- Footer ----------*/

#colophon {
    background-color: var(--color-secondary);
    color: #fff;
    padding: 15px;
}

#colophon p {
    margin: 0;
}

/* Media queries */

@media (max-width: 425px) {
    .single-pet {
        padding: 25px 0;
    }
}
